[Unit]
Description=aufraeumender bot fuer markov-Bot-Gruppen
After=network.target network-online.target nss-lookup.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/markov-aufraeum-bot.py
User=nobody

[Install]
WantedBy=multi-user.target
